body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
}

h3 {
    font-size: 15.9px;
}

.font-size-12p5 {
    font-size: 12.5px;
}

.space-between {
    display: flex;
	flex-direction: column;
    justify-content: space-between;
}

.main-info-wrapper {
	display: flex; 
	max-width: 900px; 
	max-height: 854px;
}

.first-main-info {
	background: #6495ED;
	width: 256px;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	color: white;
	font-size: 13.3px;

}

.second-main-info {
    background-color: #F8F8F8;
	width: 644px;
	height: 100%;
    display: flex;
    justify-content: center;
	
	flex-direction: column;
	color: black;
	font-size: 13.3px;
}

.user-pic img {
	width: 200px;
	height: 200px;
    border-radius: 100%;
    margin-top: 16px;
}

.first-main-section {
	width: 224px;
	height: 100%;
	max-height: 295px;
}

.second-main-section {
    width: 96%;
    margin-left: 2%;
    margin-top: 3%;
}

.first-main-section-content div {
	margin: 5%;
    margin-left: 0%;
    margin-top: 7%;
}

.second-main-section-content div {
    margin-top: 3%;
}

.user-name {
    font-size: 27.9px;    
}

#languages > div{
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	margin: 0 2%;
	height: 30px;
}

#resumeBuilder #resumeForm{
	margin: 3% 0;
}

#languagesSection div {
	display: flex;
	justify-content: space-between;
}

.lang {
	font-weight: bold;
}

#interestGroup {
	height: 178px !important;
}

.exp, .edu, .crs {
	display: flex;
	justify-content: space-between;
}

.expCompany {
	margin: 0px;
}

.expDetails {
	margin: 10px 0;
}



/* #createResume {
	display: none;
} */


