body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

input {
    padding: 8px 12px;
    border: 1px solid #b1b8bc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 1%;
}

textarea {
    padding: 8px 12px;
    border: 1px solid #b1b8bc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 1%;
    overflow:hidden;
    width: 96.5%;
}

button {
    padding: 7px 15px;
    margin-top: 1%;
    border: 2px solid #00aa87;
    border-radius: 5px;
    font-size: 16px;
    color: #00aa87;
    background-color: white;
}

.section {
    margin-bottom: 3%;
    background-color: #F8F8F8;
    border: 1px solid #e5e8e9;
    border-radius: 10px;
    width: 770px;
}

.form-group {
    margin: 3%;
}

.alignmentButton {
    display: flex;
    justify-content: center;
}

#labelImage {
    padding: 7px 15px;
    margin-left: 3%;
    margin-right: 2%;
    border: 2px solid #00aa87;
    border-radius: 5px;
    font-size: 16px;
    color: #00aa87;
    background-color: white;
}

#inputImage {
    display: none;
}
