body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

h3 {
    font-size: 15.9px;
}

.font-size-12p5 {
    font-size: 12.5px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.main-info-wrapper {
	display: flex;   
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 3%;
    height: 100%;
}

.first-main-info {
	background: #6495ED;
	width: 256px;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	color: white;
	font-size: 13.3px;
}

.second-main-info {
    background-color: #F8F8F8;
	width: 644px;
    display: flex;
    justify-content: start;	
	flex-direction: column;
	color: black;
	font-size: 13.3px;
}

.user-pic img {
	width: 200px;
	height: 200px;
    border-radius: 100%;
    margin-top: 16px;
}

.first-main-section {
	width: 90%;
}

.second-main-section {
    width: 96%;
    margin-left: 2%;
    margin-top: 3%;
}

.first-main-section-content div {
	margin: 5%;
    margin-left: 0%;
    margin-top: 7%;
}

.second-main-section-content div {
    margin-top: 3%;
}

.user-name {
    font-size: 27.9px;    
}

#backToForm { 
    margin-left: 3%;
    margin-top: 3%;
    font-weight: 400;
}

#downloadPDF {
    margin-left: 3%;
    margin-top: 3%;
    font-weight: 400;
}
